@page
@using static Web.Pages.AdvertisementsModel
@model AdvertisementsModel
@{
    ViewData["Title"] = "Advertisements";
}

<table class="table">
    <tr>
        <th scope="col">id</th>
        <th scope="col">source</th>
    </tr>
    @foreach (AdModel ad in Model.AdvertisementsCollection!)
    {
        <tr>
            <th scope="row">@ad.Id</th>
            <td>@ad.Source</td>
        </tr>
    }
</table>